.countryItem {
  display: grid;
grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: grey;
  border-radius: 7px;
  padding: 1rem 2rem;
  border-left: 5px solid green;
  margin-top: 5%;
}

.countryItem span:first-child {
  font-size: 2rem;
  line-height: 1;
}
