.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft {
  display: flex;
  align-items: center;

}

.navRight li{
  color: white;
  text-transform: uppercase;
  text-decoration: none ;
}

.navRight {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

ul {
  list-style: none;
}
